
@{
    Layout = null;
}
@using System.ServiceModel.Syndication;
@model SyndicationFeed
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Feed Stalker</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <h2>User Stories</h2>
        <ul>
            <li>
                As a user I want to use the Feed Stalker web application and/or APIs in order to<em> register an Atom feed URL and a web hook</em> so that the web hook is triggered as soon as the feed is updated. Once this is done a secret key is generated and communicated to me through the web application. Only the users that knows this secret can use it so that they can read, update and delete the web hook.
            </li>
            <li>
                As a user I want to be able to allow the Feed Stalker web application to prompt for notifications in my browser so that I can get notified as soon as the feed is updated. Read more about web notifications.
            </li>
            <li>
                As a user I do not want to care about the webhook on Feed Stalker. If the feed is not updated in more that 1 month, then the webhook gets deleted and a DELETE operation is triggered on the webhook URL in order to notify the system subscribed to the feed.
            </li>
        </ul>
        @if (ViewBag.stringarray.Count != 0)
        {
            <h1>Database says hi:</h1>
            <ul>
                @foreach (string thingie in @ViewBag.stringarray)
                {
                    <li>@thingie</li>
                }
            </ul>
        }



        @if (!String.IsNullOrEmpty(TempData["SecretKey"] as string))
        {
            <p><strong>Secret key: </strong>@TempData["SecretKey"] </p>
        }

        @Html.Partial("Form")




    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
</body>
</html>
